@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  /* background-color: #efefef; */
}

#root {
  flex-grow: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
} 

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Header, .Footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-size: 1.5rem;
}

.Header svg {
  font-size: 2rem;
}

.Footer {
  padding: 0.75rem;
  display: grid;
  place-content: center;
}

/* CustomNav */

.custom-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px #f5f5f5;
  padding: .5rem 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand {
  margin-left: 0.5rem;
  flex-grow: 1;
}

.brand__title {
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
}

.brand__img {
  width: 1rem;
  height: 1.5rem;
}

.custom-nav__brand {
  font-size: 1.5rem;
  white-space: nowrap;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f3f5;
  border-radius: 0.5rem;
  padding: .25rem;
  flex-grow: 2;
}

.search-form input[type="text"] {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #f2f3f5;
  margin-left: .5rem;
  margin-right: .5rem;
}

.search-form span {
  display: grid;
  place-content: center;
}

.search-form label {
  position: absolute;
  left: -99999px;
}

.search {
  flex-grow: 3;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
}

.settings {
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

.button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  padding: .3rem;
  margin-inline: .1rem;
  display: grid;
  place-content: center;
  color: #6e6e6e;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
  transition: .25s ease-in-out;
}

.button--brand {
  background-color: transparent;
  border: none;
  padding: .3rem;
  margin-inline: .1rem;
  display: grid;
  place-content: center;
}

.button--brand:hover {
  cursor: pointer;
}

.button--save {
  background-color: transparent;
  border: none;
  padding: .3rem;
  display: grid;
  place-content: center;
  border-radius: .25rem;
}

.button--save:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
  transition: .15s ease-in-out;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: 1rem;
}

.Nav li:hover, 
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
  background-color: #eee;
  color: #333;
}

.Nav li:hover a, 
.Nav li:focus a {
  cursor: pointer;
}


/* Side Nav */
.side-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid lightgray;
  padding: 0.5rem;
}

.Home  {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  background-color: #fff;
  padding: 0 1rem;
}

/* Pinned Notes Collection */
.notes-collection {
  margin: auto;
}

.notes-collection__grid {
  display: grid;
  grid-gap: .25rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-bottom: 2rem;
}

.notes-collection__list {
  margin-bottom: 0.25rem;
  width: 100%;
  margin-bottom: 2rem;
}

.notes-collection h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-left: .75rem;
}

.note {
  margin-top: 0.25rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: .75rem;
  height: fit-content;
}

.note:hover {
  cursor: pointer;
}

.note h3 {
  font-size: 1rem;
  font-weight: 400;
}

.Home .post a {
  text-decoration: none;
}

.Home .post a, 
.Home .post a:visited {
  color: #000;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  border-bottom: none;
}

.noteDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.noteBody {
  white-space: pre-wrap;
}

/* New Note */

.new-note-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.new-note {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 1px #f5f5f5;
  box-shadow: 0px 0px 10px #f5f5f5;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: .5rem 1rem;
  position: relative;
}

.edit-note {
  display: flex;
  flex-direction: column;
  width: 85%;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: .5rem 1rem;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.new-note label, .edit-note label {
  position: absolute;
  left: -99999px;
}

.new-note input[type='text'], 
.new-note textarea,
.edit-note input[type='text'],
.edit-note textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  border: none;
  background-color: transparent;
}

.new-note .row, .edit-note .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.color-palette {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  background-color: white;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: solid 1px #f5f5f5;
  box-shadow: 0px 0px 1px #f5f5f5;
  border-radius: .5rem;
  padding: .5rem;
}

.button-color {
  border: none;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: grid;
  place-content: center;
}

.reset-color {
  border: 1px solid gray;
}

.button-color:hover {
  border: 1px solid black;
}

/* Edit Note */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 10;
}

.PostPage button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
}

.editButton {
  background-color: #333;
}

.statusMsg {
  margin-top: 2rem;
}

@media only screen and (min-width: 610px) {
  html {
    font-size: 22px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover, 
  .Nav li:focus, 
  .Nav li:hover a, 
  .Nav li:focus a  {
    background-color: #eee;
    color: #333;
  }

  .searchForm {
    width: 100%;
    padding: .5rem 0;
  }

  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }

  .newNoteForm textarea {
    height: 300px;
  }

  .notes-collection__grid {
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .new-note {
    max-width: 1200px;
  }
  .notes-collection {
    max-width: 1200px;
  }
  .notes-collection__grid {
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: repeat(6, 1fr);
  }
  .Header svg {
    font-size: 3rem;
  }

}