@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  flex-grow: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Header,
.Footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-size: 1.5rem;
}

.Footer {
  padding: 0.75rem;
  display: grid;
  place-content: center;
}

/* CustomNav */

.custom-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px #f5f5f5;
  padding: .5rem 0;
  max-width: 1200px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand {
  margin-left: 1rem;
  flex-grow: 1;
}

.brand__title {
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
}

.brand__img {
  width: 1.5rem;
  height: 1.5rem;
}

.search-form {
  align-items: center;
  background-color: #f2f3f5;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  justify-content: center;
  padding: .25rem;
  width: 100%;
}

.search-form input[type="text"] {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #f2f3f5;
  margin-left: .5rem;
  margin-right: .5rem;
}

.search-form span {
  display: grid;
  place-content: center;
}

.search-form label {
  position: absolute;
  left: -99999px;
}

.search {
  flex-grow: 3;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
}

.settings {
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
}

.button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  padding: .3rem;
  margin-inline: .1rem;
  display: grid;
  place-content: center;
  color: #333;
}

.button a {
  color: #333;
  display: grid;
  place-content: center;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
  transition: .25s ease-in-out;
}

.brand-icon {
  padding: .3rem;
  margin-inline: .1rem;
  display: grid;
  place-content: center;
}

.date-time {
  justify-content: end;
}

.date-time p {
  font-size: .75rem;
}

.button--save,
.button--cancel {
  background-color: transparent;
  border: none;
  padding: .3rem;
  display: grid;
  place-content: center;
  border-radius: .25rem;
}

.button--save:hover,
.button--cancel:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
  transition: .15s ease-in-out;
}

.Home {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  background-color: #fff;
  padding: 0 1rem;
}

/* Pinned Notes Collection */
.notes-collection {
  margin: auto;
}

.notes-collection__grid {
  display: grid;
  grid-gap: .25rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-bottom: 2rem;
}

.notes-collection__list {
  margin-bottom: 0.25rem;
  width: 100%;
  margin-bottom: 2rem;
}

.notes-collection h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-left: .75rem;
}

.note {
  margin-top: 0.25rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: .75rem;
  height: fit-content;
  color: #333;
  transition: .25s;
}

.note:hover {
  cursor: pointer;
  border: 1px solid #333;
}

.note h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.noteBody {
  white-space: pre-wrap;
  font-size: .9rem;
}

/* New and Edit Note */

.new-note-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.new-note {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 1px #f5f5f5;
  box-shadow: 0px 0px 10px #f5f5f5;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: .5rem 1rem;
  position: relative;
}

.edit-note {
  display: flex;
  flex-direction: column;
  width: 85%;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: .5rem 1rem;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.new-note label,
.edit-note label {
  position: absolute;
  left: -99999px;
}

.new-note input[type='text'],
.new-note textarea,
.edit-note input[type='text'],
.edit-note textarea {
  font-family: inherit;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: #333;
}

.new-note .row,
.edit-note .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.color-palette {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  background-color: white;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: solid 2px #f5f5f5;
  box-shadow: 0px 0px 1px #f5f5f5;
  border-radius: .5rem;
  padding: .5rem;
}

.button-color {
  border: none;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: grid;
  place-content: center;
  border: 1px solid #333;
}

.button-color:hover {
  cursor: pointer;
}

.button-color:hover {
  border: 1px solid black;
}

/* Tesseract Input */
input[type="file"] {
  display: none;
}

label.imageFileInput {
  position: static !important;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 10;
}

/* Instructions */

.instructions {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: white;
  max-width: 800px;
}

.instructions__header {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.instructions__header h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.instructions p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.instructions h3 {
  font-size: 1.15rem;
  font-weight: 400;
}

.instructions ul {
  margin-bottom: 1rem;
}

.instructions li {
  font-size: .8rem;
  margin-left: 2rem;
}

.signature {
  margin-top: 0.5rem;
  display: grid;
  place-content: center;
  text-align: center;
}

.app-reset {
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.btn__app-reset {
  padding: .5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  margin: .5rem 0;
  font-size: .8rem;
}

.btn__app-reset:hover {
  cursor: pointer;
}

hr {
  border: 0.5px solid lightgray;
  margin-bottom: 1rem;
}

.signature .flex-row {
  justify-content: center;
  gap: 1rem;
}

.button__signature {
  display: grid;
  place-content: center;
  background: none;
  border: none;
}

.button__signature a {
  margin-top: .5rem;
  font-size: 2rem;
  color: #333;
}

@media only screen and (min-width: 610px) {
  .new-note {
    max-width: 600px;
  }

  .notes-collection {
    max-width: 600px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .searchForm {
    width: 100%;
    padding: .5rem 0;
  }

  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }

  .newNoteForm textarea {
    height: 300px;
  }

  .notes-collection__grid {
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .notes-collection__grid {
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .edit-note {
    max-width: 550px;
  }
}